.header {
  margin-bottom: 30px;

  &__wrapper {
    background-color: $colorGreyLight;

    &[data-ordinal="first"] {
      display: none;
    }

    &[data-ordinal="second"] .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      height: 100%;
    }

    &[data-ordinal="third"] {
      background-color: $colorWhite;

      .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 94px;
        height: 100%;
      }
    }

    &[data-ordinal="third"] .header__subnav,
    &[data-ordinal="third"] .header__list {
      display: none;
    }
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;

    &[data-ordinal="fourth"] {
      display: none;
    }

    &[data-ordinal="fifth"] {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__leftside {
    display: flex;
    flex-shrink: 0;
  }

  &__formregion {
    display: flex;
    margin-right: 31px;
  }

  &__label {
    margin-right: 5px;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;

    & + .choices:focus:not(:hover)::after,
    & + .choices:active::after {
      background-image: url(../img/arrowFocus.svg);
      @include animate;
      transition-property: background;
    }

    & + .choices:focus:not(:hover) .choices__list--single .choices__item {
      color: $colorPrimaryShade;
    }
    
    & + .choices:focus:not(:hover) {
      background-color: $colorPinkViolet;
    }
    
    & + .choices:active .choices__list--single .choices__item {
      color: $colorPrimaryShade;
    }
  }

  &__phone {
    font-weight: normal;
    font-size: 14px;
    color: $colorSecondary;
    @include animate;
    transition-property: color, background-color;
  
  
    &:focus:not(:hover) {
      background-color: $colorBone;
    }
  
    &:active {
      color: $colorSecondaryShade;
  
      .header__svg path {
        fill: $colorSecondaryShade;
        @include animate;
        transition-property: fill;
      }
    }
  }

  &__svg {
    transform: translate(2px, 4px);
    
  }
  
  &__svg path {
    @include animate;
    transition-property: fill;
  }

  &__sublist {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  &__subitem:not(:last-child) {
    margin-right: 65px;
  }

  &__burger {
    display: none;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 3px 0 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 92px;
  }

  &__formsearch {
    position: relative;
    z-index: 3;
    display: flex;
    min-height: 60px;
    height: 100%;
  }

  &__box {
    position: relative;
    width: 761px;

    & + .choices {
      min-width: 300px;
      background-color: $colorWhite;
      border: 2px solid $colorGreyLight;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @include animate;
      transition-property: border-color, background-color;
    
      &:focus:not(:hover) {
        background-color: $colorPinkLight;
        border-color: $colorPrimary;
        @include animate;
        transition-property: border-color, background-color;
      }
    
      &:active {
        border-color: $colorPrimaryShade;
        @include animate;
        transition-property: border-color;
      }
    }
    
    & + .choices[data-type*=select-one]::after {
      top: 50%;
      right: 30px;
    }
    
    & + .choices .choices__inner {
      position: absolute;
      top: 50%;
      left: 11%;
      transform: translateY(-50%);
    }

    & + .choices .choices__list[role='listbox'] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    
    & + .choices .choices__item--choice {
      font-size: 16px;
    }
    
    & + .is-open .choices__list--dropdown {
      z-index: -1;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-sizing: content-box;
      transform: translate(-2px, -4px);
    }
  }
  
  &__inputsearch {
    padding-right: 65px;
    padding-left: 57px;
    width: 100%;
    height: 100%;
    background-color: $colorGreyLight;
    border: 2px solid $colorGreyLight;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include animate;
    transition-property: background-color, border-color;

    &::placeholder {
      font-weight: normal;
      font-size: 16px;
      color: $colorGrey;
    }
  
    &:focus:not(:hover) {
      background-color: $colorPinkLight;
      border-color: $colorPrimary;
    }
  
    &:active + .header__loupe path {
      fill: $colorPrimary;
      @include animate;
      transition-property: fill;
    }
  }
  
  &__loupe {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
  
    path {
      @include animate;
      transition-property: fill;
    }
  }
  
  &__btn {
    position: absolute;
    top: 50%;
    right: 32px;
    padding: 0;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;

    &:focus:not(:hover) path,
    &:active path {
      stroke: $colorWhite;
      @include animate;
      transition-property: stroke;
    }
  
    &:focus:not(:hover) circle {
      fill: $colorPrimaryLight;
      @include animate;
      transition-property: fill;
    }
  
    &:active circle {
      fill: $colorPrimaryShade;
      stroke: $colorPrimaryShade;
      @include animate;
      transition-property: fill, stroke;
    }
  }
  
  &__arrow,
  &__arrow circle,
  &__arrow path {
    @include animate;
    transition-property: fill, stroke;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__unit:not(:last-child) {
    margin-right: 20px;
  }

  &__login svg,
  &__login path,
  &__cart path:first-child {
    @include animate;
    transition-property: fill;
  }

  &__login {
    display: inline-block;
    padding: 4px;
    background-color: transparent;
    @include animate;
    transition-property: background-color;

    &:focus:not(:hover) {
      background-color: $colorPrimaryLight;
      @include animate;
      transition-property: background-color;
    }

    &:focus:not(:hover) path {
      fill: $colorWhite;
      @include animate;
      transition-property: fill;
    }

    &:active path {
      fill: $colorPrimaryShade;
      @include animate;
      transition-property: fill;
    }
  }

  &__cart {
    display: inline-block;
    padding: 4px;
    background-color: transparent;
    @include animate;
    transition-property: background-color;

    &:focus:not(:hover) {
      background-color: $colorPrimaryLight;
      @include animate;
      transition-property: background-color;
    }

    &:focus:not(:hover) path:first-child {
      fill: $colorWhite;
      @include animate;
      transition-property: fill;
    }

    &:active path:first-child {
      fill: $colorPrimaryShade;
      @include animate;
      transition-property: fill;
    }
  }
}

.choices {
  padding-right: 17px;
  min-width: 75px;
  @include animate;
  transition-property: background-color;

  &[data-type*=select-one]::after {
    content: "";
    height: 9px;
    width: 12px;
    border: none;
    position: absolute;
    right: 0;
    top: 58%;
    margin-top: -2.5px;
    pointer-events: none;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @include animate;
    transition-property: background;
  }

  &[data-type*=select-one].is-open::after {
    border: none;
    transform: rotate(180deg);
  }

  &[data-type*=select-one] .choices__inner {
    padding: 0;
  }
}

.choices__inner {
  padding: 0;
  min-height: 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.choices__list--single {
  padding: 0;
}

.choices__item {
  color: $colorPrimary;
  @include animate;
  transition-property: color;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  color: $colorBlack;
}

.is-open .choices__list--dropdown {
  z-index: 3;
  border: 2px solid $colorGreyLight;
}

.is-selected {
  display: none;
}

.choices__item--choice[data-value='categoty'] {
  display: none;
}

@media (min-width: 1920px) {
  .header__label + .choices:hover::after {
    background-image: url(../img/arrowHover.svg);
    @include animate;
    transition-property: background;
  }
  .header__label + .choices:active::after {
    background-image: url(../img/arrowFocus.svg);
    @include animate;
    transition-property: background;
  }
  .header__label + .choices:hover .choices__list--single .choices__item {
    color: $colorPrimaryLight;
  }
  .header__label + .choices:active .choices__list--single .choices__item {
    color: $colorPrimaryShade;
  }
  .header__phone {
    &:hover {
      color: $colorSecondaryLight;
      .header__svg path {
        fill: $colorSecondaryLight;
        @include animate;
        transition-property: fill;
      }
    }
    &:active {
      color: $colorSecondaryShade;
      .header__svg path {
        fill: $colorSecondaryShade;
        @include animate;
        transition-property: fill;
      }
    }
  }
  .header__inputsearch {
    &:hover {
      background-color: $colorMdGrey;
      border-color: $colorMdGrey;
    }
    &:active + .header__loupe path {
      fill: $colorPrimary;
      @include animate;
      transition-property: fill;
    }
  }
  .header__btn {
    &:hover path,
    &:active path {
      stroke: $colorWhite;
      @include animate;
      transition-property: stroke;
    }
    &:hover circle {
      fill: $colorPrimary;
      @include animate;
      transition-property: fill;
    }
    &:active circle {
      fill: $colorPrimaryShade;
      stroke: $colorPrimaryShade;
      @include animate;
      transition-property: fill, stroke;
    }
  }
  .header__btn + .choices {
    &:hover {
      border-color: $colorPrimary;
      @include animate;
      transition-property: border-color;
    }
    &:active {
      border-color: $colorPrimaryShade;
      @include animate;
      transition-property: border-color;
    }
  }
  .header__login {
    &:hover path {
      fill: $colorPrimaryLight;
      @include animate;
      transition-property: fill;
    }
    &:active path {
      fill: $colorPrimaryShade;
      @include animate;
      transition-property: fill;
    }
  }
  .header__cart {
    &:hover path:first-child {
      fill: $colorPrimaryLight;
      @include animate;
      transition-property: fill;
    }
    &:active path:first-child {
      fill: $colorPrimaryShade;
      @include animate;
      transition-property: fill;
    }
  }
}

@media (max-width: 1919px) {
  .header {
    &__wrapper {
      &[data-ordinal="second"] {
        background-color: $colorWhite;
        & .header__container {
          display: block;
          min-height: 0;
          height: auto;
        }
        & .header__subnav {
          display: none;
        }
      }
      &[data-ordinal="third"] {
        background-color: $colorGreyLight;
        & .header__container {
          min-height: 50px;
        }
        & .logo,
        & .header__nav {
          display: none;
        }
        & .header__list {
          display: flex;
        }
        & .header__subnav {
          display: block;
        }
      }
    }
    &__container {
      padding: 0 36px;
      &[data-ordinal="fourth"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 92px;
        height: 100%;
        & .header__list,
        & .header__subnav {
          display: none;
        }
      }
      &[data-ordinal="fifth"] {
        display: block;
        & .header__list {
          display: none;
        }
      }
    }
    &__leftside {
      justify-content: space-between;
      align-items: center;
      height: 58px;
    }
    &__sublist {
      justify-content: flex-start;
    }
    &__item:not(:last-child) {
      margin-right: 41px;
    }
    &__box {
      min-width: 0;
      width: 68%;
      & + .choices {
        min-width: 0;
        width: 32%;
      }
    }
    &__loupe {
      left: 34px;
    }
    &__btn {
      right: 27px;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &__wrapper {
      &[data-ordinal="third"] {
        .header__list {
          display: none;
        }
      }
    }
    &__container {
      padding: 0 72px;
      &[data-ordinal="fourth"] {
        position: relative;
        & .header__nav {
          display: none;
          background-image: url(../img/elephant.svg);
          background-repeat: no-repeat;
          background-position: bottom right;
          &_visible {
            display: block;
            .header__items {
              flex-direction: column;
              flex-wrap: wrap;
              align-content: flex-start;
              column-gap: 33px;
              max-height: 150px;
              .header__item:not(:nth-child(3n)) {
                margin-right: 0;
                margin-bottom: 45px;
              }
            }
          }
        }
        & .header__list {
          display: flex;
        }
      }
    }
    &__subitem:not(:last-child) {
      margin-right: 35px;
    }
    &__burger {
      position: relative;
      z-index: 5;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &_close {
        .header__line {
          @include animate;
          transition-property: left, top, bottom, transform;
          &_first {
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(45deg);
          }
          &_second {
            display: none;
          }
          &_third {
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
    &__line {
      position: absolute;
      width: 100%;
      height: 3px;
      display: inline-block;
      background-color: $colorPrimary;
      border-radius: 4px;
      transform: rotate(0);
      @include animate;
      transition-property: left, top, bottom, transform;
      &_first {
        top: 0;
        left: 0;
      }
      &_second {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &_third {
        bottom: 0;
        left: 0;
      }
    }
    &__menu {
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      min-height: 300px;
      padding-top: 93px;
      padding-right: 72px;
      padding-left: 72px;
      background-color: $colorWhite;
      &_visible {
        display: block;
      }
    }
    &__box {
      width: 70%;
      & + .choices {
        width: 30%;
      }
      & + .choices .choices__inner {
        left: 16%;
      }
    }
    &__btn {
      right: 34px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__wrapper {
      &[data-ordinal="first"] {
        display: block;
        & .header__container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
        }
      }
      &[data-ordinal="second"] {
        padding-top: 19px;
      }
      &[data-ordinal="third"] {
        display: none;
      }
    }
    &__container {
      padding: 0 12px;
      &[data-ordinal="fourth"] {
        min-height: 85px;
        & .logo {
          display: none;
        }
        & .header__nav {
          padding-right: 12px;
          padding-left: 12px;
          background-image: none;
          &_visible {
            .header__items {
              flex-wrap: nowrap;
              column-gap: normal;
              max-height: none;
              margin-bottom: 26px;
              .header__item:not(:last-child) {
                margin-bottom: 45px;
              }
            }
          }
        }
        & .header__subnav {
          display: none;
          padding: 22px 12px;
          &_visible {
            display: block;
            background-color: $colorGreyLight;
            &::before {
              top: -21px;
              height: 108px;
            }
            .header__sublist {
              flex-wrap: wrap;
              justify-content: flex-start;
              row-gap: 9px;
              column-gap: 62px;
              .header__subitem:not(:last-child) {
                margin-right: 0;
              }
              .header__subitem:nth-child(3) {
                width: 112px;
              }
            }
          }
        }
      }
    }
    &__leftside {
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      height: auto;
    }
    &__menu {
      padding-top: 83px;
      padding-right: 0;
      padding-left: 0;
    }
    &__formregion {
      margin-right: auto;
      margin-bottom: 16px;
    }
    &__formsearch {
      flex-wrap: wrap;
    }
    &__box {
      width: 100%;
      height: 60px;
      margin-bottom: 16px;
      & + .choices {
        width: 100%;
        height: 60px;
        border-radius: 10px;
      }
      & + .choices .choices__inner {
        left: 10%;
      }
    }
    &__inputsearch {
      border-radius: 10px;
    }
  }
}
