.header {

  &__container[data-ordinal="fifth"] {
    margin-bottom: 18px;
  }

  &__slash {
    color: $colorGrey;
  }
}

@media (max-width: 1919px) {
  .header {
    margin-bottom: 35px;
    &__container[data-ordinal="fifth"] {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__breadcrumps {
      display: none;
    }
  }
}