.hero .swiper {
  height: 0;
  padding-bottom: calc(400 * 100% / 1920);
}

.hero__slide {
  padding-bottom: calc(400 * 100% / 1920);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide_first {
  background-image: url(../img/sofa.jpg);
}

.hero__slide_second {
  background-image: url(../img/accessories.jpg);
}

.hero__slide_third {
  background-image: url(../img/textile.jpg);
}

.hero__box {
  max-width: 1280px;
  min-height: 400px;
  height: 100%;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 100px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: $colorBlack;
  opacity: .3;
}

.swiper-pagination-bullet-active {
  background-color: $colorBlack;
  opacity: 1;
}

@media (max-width: 1919px) {
  .hero .swiper {
    padding-bottom: calc(400 * 100% / 1024);
  }
  .hero__slide {
    padding-bottom: calc(400 * 100% / 1024);
    &_first {
      background-image: url(../img/sofa1024.jpg);
    }
    &_second {
      background-image: url(../img/accessories1024.jpg);
    }
    &_third {
      background-image: url(../img/textile1024.jpg);
    }
  }
  .hero__box {
    padding: 80px 36px;
  }
}

@media (max-width: 1023px) {
  .hero .swiper {
    padding-bottom: calc(400 * 100% / 768);
  }
  .hero__slide {
    padding-bottom: calc(400 * 100% / 768);
    &_first {
      background-image: url(../img/sofa768.jpg);
    }
    &_second {
      background-image: url(../img/accessories768.jpg);
    }
    &_third {
      background-image: url(../img/textile768.jpg);
    }
  }
  .hero__box {
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media (max-width: 767px) {
  .hero .swiper {
    margin-bottom: 32px;
    padding-bottom: calc(210 * 100% / 320);
  }
  .hero__slide {
    padding-bottom: calc(210 * 100% / 320);
    &_first {
      background-image: url(../img/sofa320.jpg);
    }
    &_second {
      background-image: url(../img/accessories320.jpg);
    }
    &_third {
      background-image: url(../img/textile320.jpg);
    }
  }
  .hero__box {
    min-height: 210px;
    padding: 30px;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 8px;
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 4px;
    margin-left: 4px;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}