.offer {
  position: relative;
  padding-top: 70px;
  max-width: 1280px;
  margin: 0 auto;

  &__btn {
    top: 70px;
    width: 32px;
    height: 32px;
    margin: 0;

    &_prev {
      right: 45px;
      left: auto;
  
      &::after {
        content: none;
      }
    }
  
    &_next {
      right: 0;
  
      &::after {
        content: none;
      }
    }

    &_disabled {
      opacity: 1;
      cursor: auto;
      pointer-events: none;

      .offer__svg path {
        stroke: $colorGrey;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        stroke: $colorGrey;
        @include animate;
        transition-property: stroke;
      }
    }

    &:hover {
      .offer__svg path {
        stroke: $colorWhite;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        fill: $colorPrimary;
        @include animate;
        transition-property: fill;
      }
    }

    &:focus:not(:hover) {
      .offer__svg path {
        stroke: $colorWhite;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        fill: $colorPrimaryLight;
        @include animate;
        transition-property: fill;
      }
    }

    &:active {
      .offer__svg path {
        stroke: $colorWhite;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        fill: $colorPrimaryShade;
        stroke: $colorPrimaryShade;
        @include animate;
        transition-property: fill, stroke;
      }
    }
  }

  &__svg path {
    stroke: $colorPrimary;
    @include animate;
    transition-property: stroke;
  }

  &__svg circle {
    stroke: $colorPrimary;
    fill: transparent;
    @include animate;
    transition-property: fill, stroke;
  }

  &__slide {
    display: grid;
    grid-template-rows: min-content 3fr min-content 1fr;
    grid-template-areas: 
      'discount'
      'product'
      'listOffer'
      'btnOffer';
    width: calc(100% / 4 - 24px);
    padding-top: 30px;
    background-repeat: no-repeat;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: $colorGreyLight;
      border-radius: 10px;
    }

    &_big {
      width: calc(100% / 2 - 16px);
    }

    &_chair {
      background-image: url(../img/chair.png);
      background-position: 50% 24%;
    }

    &_sofa {
      background-image: url(../img/sofa.png);
      background-position: 52% 14%;

      &::after {
        content: '';
        background-image: url(../img/z44.png);
        background-repeat: no-repeat;
        background-position: 92% 92%;
      }
    }

    &_clock {
      background-image: url(../img/clock.png);
      background-position: 50% 22%;
    }

    &_dear {
      background-image: url(../img/dear.png);
      background-position: 50% 24%;
    }

    &_sofa2 {
      background-image: url(../img/sofa2.png);
      background-position: 52% 14%;

      &::after {
        content: '';
        background-image: url(../img/z85.png);
        background-repeat: no-repeat;
        background-position: 92% 92%;
      }
    }

    &_thermometer {
      background-image: url(../img/thermometer.png);
      background-position: 50% 22%;
    }
  }

  &__discount {
    grid-area: discount;
    display: inline-block;
    width: 92px;
    height: 34px;
    padding: 9px 19px;
    background-image: url(../img/bg.svg);
    font-weight: 700;
    font-size: 14px;
    color: $colorWhite;
  }

  &__product {
    grid-area: product;
    align-self: end;
    margin: 0;
    padding: 23px 30px;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: $colorBlack;
  }

  &__list {
    grid-area: listOffer;
    margin: 0;
    padding: 0 30px;
    display: flex;
  }

  &__item {
    font-weight: normal;

    &_actual {
      margin-right: 30px;
      font-size: 18px;
      color: $colorSecondary;
    }

    &_old {
      font-size: 16px;
      color: $colorGrey;
      text-decoration-line: line-through;
    }
  }
}

.swiper_offer {
  width: 100%;
  height: 511px;
}

@media (max-width: 1919px) {
  .offer {
    padding-right: 36px;
    padding-left: 36px;
    &__btn_prev {
      right: 81px;
    }
    &__btn_next {
      right: 36px;
    }
    &__slide {
      width: calc(100% / 3 - 21px);
      &_big {
        width: calc(100% / 3 - 21px);
      }
      &_chair {
        background-image: url(../img/chair1024.png);
      }
      &_sofa {
        background-image: url(../img/sofa1024.png);
        background-position-y: 30%;
        &::after {
          content: none;
        }
      }
      &_clock {
        background-image: url(../img/clock1024.png);
      }
      &_dear {
        background-image: url(../img/dear1024.png);
      }
      &_sofa2 {
        background-image: url(../img/sofa2_1024.png);
        background-position-y: 30%;
        &::after {
          content: none;
        }
      }
      &_thermometer {
        background-image: url(../img/thermometer1024.png);
      }
    }
  }
}

@media (max-width: 1023px) {
  .offer {
    padding-right: 72px;
    padding-left: 72px;
    &__btn_prev {
      right: 117px;
    }
    &__btn_next {
      right: 72px;
    }
    &__slide {
      width: calc(100% / 2 - 16px);
      &_big {
        width: calc(100% / 2 - 16px);
      }
    }
  }
}

@media (max-width: 767px) {
  .offer {
    padding-right: 12px;
    padding-bottom: 17px;
    padding-left: 12px;
    &__btn {
      top: auto;
      bottom: 0;
      left: auto;
      transform: translateX(50%);
      &_prev {
        right: 57%;
      }
      &_next {
        right: 43%;
      }
    }
    &__slide {
      width: 100%;
      &_big {
        width: 100%;
      }
    }
  }
}