.offer {
  position: relative;
  padding-top: 70px;
  max-width: 1280px;
  margin: 0 auto 70px auto;

  &__btn {
    top: 70px;
    width: 32px;
    height: 32px;
    margin: 0;

    &_prev {
      right: 45px;
      left: auto;
  
      &::after {
        content: none;
      }
    }
  
    &_next {
      right: 0;
  
      &::after {
        content: none;
      }
    }

    &_disabled {
      opacity: 1;
      cursor: auto;
      pointer-events: none;

      .offer__svg path {
        stroke: $colorGrey;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        stroke: $colorGrey;
        @include animate;
        transition-property: stroke;
      }
    }

    &:hover {
      .offer__svg path {
        stroke: $colorWhite;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        fill: $colorPrimary;
        @include animate;
        transition-property: fill;
      }
    }

    &:focus:not(:hover) {
      .offer__svg path {
        stroke: $colorWhite;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        fill: $colorPrimaryLight;
        @include animate;
        transition-property: fill;
      }
    }

    &:active {
      .offer__svg path {
        stroke: $colorWhite;
        @include animate;
        transition-property: stroke;
      }
      .offer__svg circle {
        fill: $colorPrimaryShade;
        stroke: $colorPrimaryShade;
        @include animate;
        transition-property: fill, stroke;
      }
    }
  }

  &__svg path {
    stroke: $colorPrimary;
    @include animate;
    transition-property: stroke;
  }

  &__svg circle {
    stroke: $colorPrimary;
    fill: transparent;
    @include animate;
    transition-property: fill, stroke;
  }

  &__discount {
    grid-area: discount;
    display: inline-block;
    width: 92px;
    height: 34px;
    padding: 9px 19px;
    background-image: url(../img/bg.svg);
    font-weight: 700;
    font-size: 14px;
    color: $colorWhite;
  }

  &__list {
    grid-area: listOffer;
    margin: 0;
    padding: 0 30px;
    display: flex;
  }

  &__item {
    font-weight: normal;

    &_actual {
      margin-right: 30px;
      font-size: 18px;
      color: $colorSecondary;
    }

    &_old {
      font-size: 16px;
      color: $colorGrey;
      text-decoration-line: line-through;
    }
  }
}

.swiper_offer {
  width: 100%;
  height: 511px;
}

@media (max-width: 1919px) {
  .offer {
    padding-right: 36px;
    padding-left: 36px;
    &__btn_prev {
      right: 81px;
    }
    &__btn_next {
      right: 36px;
    }
  }
}

@media (max-width: 1023px) {
  .offer {
    padding-right: 72px;
    padding-left: 72px;
    &__btn_prev {
      right: 117px;
    }
    &__btn_next {
      right: 72px;
    }
  }
}

@media (max-width: 767px) {
  .offer {
    padding-right: 12px;
    padding-bottom: 17px;
    padding-left: 12px;
    &__btn {
      top: auto;
      bottom: 0;
      left: auto;
      transform: translateX(50%);
      &_prev {
        right: 57%;
      }
      &_next {
        right: 43%;
      }
    }
  }
}