$colorGreyLight: #F7F7F7;
$colorBlack: #333;
$colorPrimary: #A65CF0;
$colorPrimaryLight: #C998FB;
$colorPrimaryShade: #7033AC;
$colorPinkLight: #F8EFFF;
$colorPinkViolet: #EBD1FF;
$colorSecondary: #FF862F;
$colorSecondaryLight: #FFBD59;
$colorSecondaryShade: #BB370E;
$colorRedInput: #FF6972;
$colorGreenInput: #B8EC64;
$colorGold: #D5B986;
$colorWhite: #FFF;
$colorMdGrey: #EAEAEA;
$colorGrey: #999;
$colorGreyShade: #666;
$colorLimeColor: #DAFFD1;
$colorBone: #FFF5D1;