@import './fonts', './variables';

@mixin animate {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

* {
  box-sizing: border-box;
  outline: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorBlack;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {

  &_header {
    flex-shrink: 0;
  }
}

.link {
  font-weight: normal;
  font-size: 14px;
  color: $colorGrey;
  @include animate;
  transition-property: color, background-color;

  &_menu {
    font-size: 16px;
    color: $colorBlack;
  }

  &_active {
    color: $colorPrimaryShade;
  }

  &:focus:not(:hover) {
    background-color: $colorPinkViolet;
  }

  &_submenu:focus:not(:hover),
  &_submenu:active,
  &_menu:active {
    color: $colorPrimaryShade;
  }
}

.title {
  margin: 0;
  width: 44%;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $colorGrey;

  &_oxford {
    width: 100%;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 31px;
    color: $colorGold;
  }

  &_catalog {
    grid-area: title;
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: $colorBlack;
  }
}

.btn {
  padding: 17px 48px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  @include animate;
  transition-property: background-color, border-color, color;

  &_catalog {
    grid-area: btn;
    align-self: end;
    margin: 0;
    padding: 16px 0;
    width: 128px;
    height: 54px;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
    text-align: center;

    &:focus:not(:hover) {
      color: $colorWhite;
      background-color: $colorPrimaryLight;
    }

    &:active {
      color: $colorWhite;
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: min-content 2fr 1fr min-content 1fr;
  grid-template-areas: 
    'estimate'
    'image'
    'product'
    'price'
    'btn';
  height: calc((100% - 64px) / 3);
  padding: 30px 0 30px 30px;
  border-radius: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $colorGreyLight;
    border-radius: 10px;
  }

  &_black {

    .catalog__img {
      transform: translateY(25px);
    }

    .product {
      width: 83%;
    }
  }

  &_brown {

    .catalog__img {
      transform: translateY(15px);
    }

    .product {
      width: 100%;
    }
  }

  &_blue {

    .catalog__img {
      transform: translateY(15px);
    }
    
  }

}

.product {
  grid-area: product;
  align-self: start;
  width: 84%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: $colorBlack;

  &__link {
    color: inherit;
    @include animate;
    transition-property: color, background-color;

    &:focus:not(:hover) {
      background-color: $colorPinkViolet;
    }
  }
}

@import './header';
@import './header-catalog';
@import './catalog';
@import './footer';

@media (min-width: 1920px) {
  .link {
    &:hover {
      color: $colorPrimary;
    }
    &:active {
      color: $colorPrimaryShade;
    }
  }
  .btn {
    &_catalog {
      &:hover {
        color: $colorWhite;
        background-color: $colorPrimary;
      }
      &:active {
        color: $colorWhite;
        background-color: $colorPrimaryShade;
        border-color: $colorPrimaryShade;
      }
    }
  }
  .product__link:hover {
    color: $colorPrimary;
  }
}

@media (max-width: 1919px) {
  .title {
    width: 60%;
    margin-bottom: 18px;
  }
}

@media (max-width: 1023px) {
  .title {
    width: 90%;
    &_catalog {
      margin-bottom: 0;
    }
  }
  .logo {
    &_header {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 767px) {
  .title {
    width: 78%;
    font-size: 20px;
    line-height: 27px;
    &_catalog {
      width: 100%;
      font-size: 24px;
      line-height: 100%;
    }
  }
  .btn {
    &_catalog {
      width: 108px;
      height: 40px;
      padding: 9px 0; 
      font-weight: 600;
    }
  }
  .card {
    grid-template-rows: min-content 1fr repeat(3, auto);
    height: calc(100vw - 42px);
    padding: 16px;
    &_black,
    &_brown,
    &_blue  {
      .catalog__img {
        transform: translateY(1px);
      }
    }
  }
  .product {
    margin-bottom: 18px;
    font-size: 16px;
  }
  .logo {
    &_footer {
      margin-bottom: 19px;
    }
  }
}



