@import './fonts', './variables';

@mixin animate {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

* {
  box-sizing: border-box;
  outline: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorBlack;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  font-weight: normal;
  font-size: 14px;
  color: $colorGrey;
  @include animate;
  transition-property: color, background-color;

  &_active {
    color: $colorPrimaryShade;
  }

  &_modul {
    color: $colorPrimary;
    text-decoration: underline;
  }

  &:focus:not(:hover) {
    background-color: $colorPinkViolet;
  }
}

.title {
  margin: 0;
  width: 44%;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $colorGrey;
}

.btn {
  grid-area: btn;
  margin-bottom: 14px;
  padding: 16px 29px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  @include animate;
  transition-property: background-color, border-color, color;

  &_similar {
    align-self: end;
    margin: 0;
    padding: 16px 0;
    width: 128px;
    height: 54px;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
    text-align: center;

    &:focus:not(:hover) {
      color: $colorWhite;
      background-color: $colorPrimaryLight;
    }

    &:active {
      color: $colorWhite;
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }
  }
  
  &_primary {
    color: $colorWhite;
    background-color: $colorPrimary;
    border: 2px solid $colorPrimary;

    &:focus:not(:hover) {
      background-color: $colorPrimaryLight;
    }

    &:active {
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }

    &modul {
      justify-self: start;
      padding: 16px 31px;
      margin-bottom: 12px;
    }
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: min-content 56% 11% 21%;
  grid-template-areas: 
    'estimate'
    'product'
    'price'
    'btn';
  min-height: 420px;
  height: 100%;
  padding-top: 33px;
  padding-left: 30px;
  background-repeat: no-repeat;
  border-radius: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $colorGreyLight;
    border-radius: 10px;
  }

  &_orange {
    background-image: url(../img/sofa_orange.png);
    background-position: 50% 22%;
  }

  &_ligth {
    background-image: url(../img/sofa_ligth.png);
    background-position: 50% 24%;
  }

  &_grey {
    background-image: url(../img/sofa_grey.png);
    background-position: 50% 21%;
  }

  &_green {
    background-image: url(../img/sofa_green.png);
    background-position: 50% 22%;
  }

  &_r85 {
    background-image: url(../img/sofa_r85.png);
    background-position: 50% 27%;
  }

  &_h58 {
    background-image: url(../img/sofa_h58.png);
    background-position: 50% 20%;
  }

  &_s44 {
    background-image: url(../img/sofa_s44.png);
    background-position: 50% 27%;
  }

  &_r43 {
    background-image: url(../img/sofa_r43.png);
    background-position: 50% 27%;
  }
}

.product {
  grid-area: product;
  align-self: end;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: $colorBlack;
  @include animate;
  transition-property: color, background-color;

  &:focus:not(:hover) {
    background-color: $colorPinkViolet;
  }
}

@import './header';
@import './header-card';
@import './stuff';
@import './modul';
@import './similar';
@import './footer';

@media (min-width: 1920px) {
  .link:hover {
    color: $colorPrimary;
  }
  .btn {
    &_similar {
      &:hover {
        color: $colorWhite;
        background-color: $colorPrimary;
      }
      &:active {
        color: $colorWhite;
        background-color: $colorPrimaryShade;
        border-color: $colorPrimaryShade;
      }
    }
    &_primary {
      &:hover {
        background-color: $colorPrimaryLight;
        border-color: $colorPrimaryLight;
      }
      &:active {
        background-color: $colorPrimaryShade;
        border-color: $colorPrimaryShade;
      }
    }
  }
  .product:hover {
    color: $colorPrimary;
  }
}

@media (max-width: 767px) {
  .link{
    &_modul {
      font-size: 12px;
    }
  }
  .btn {
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
    &_similar {
      padding: 9px 0; 
      width: 108px;
      height: 40px;
    }
    &_primarymodul {
      margin-bottom: 10px;
      padding: 16px 33px;
    }
  }
  .card {
    grid-template-rows: min-content 56% 11% 21%;
    min-height: 278px;
    height: 100%;
    padding-top: 17px;
    padding-left: 16px;
    background-size: 77%;
    &_orange,
    &_ligth,
    &_grey,
    &_green,
    &_r85,
    &_s44,
    &_r43 {
      background-position-y: 19%;
    }
  }
  .product {
    margin-bottom: 9px;
    font-size: 16px;
  }
  .logo {
    &_footer {
      margin-bottom: 19px;
    }
  }
}



