@import './fonts', './variables';

@mixin animate {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

* {
  box-sizing: border-box;
  outline: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorBlack;
  scroll-behavior: smooth;
}

.hidden {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {

  &_header {
    flex-shrink: 0;
  }
}

.link {
  font-weight: normal;
  font-size: 14px;
  color: $colorGrey;
  @include animate;
  transition-property: color, background-color;

  &_menu {
    font-size: 16px;
    color: $colorBlack;
  }

  &_active {
    color: $colorPrimaryShade;
  }

  &_modul {
    color: $colorPrimary;
    text-decoration: underline;
  }

  &:focus:not(:hover) {
    background-color: $colorPinkViolet;
  }

  &_submenu:focus:not(:hover),
  &_submenu:active,
  &_menu:active {
    color: $colorPrimaryShade;
  }
}

.title {
  margin: 0;
  width: 44%;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $colorGrey;
}

.btn {
  grid-area: btn;
  margin-bottom: 14px;
  padding: 16px 29px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  @include animate;
  transition-property: background-color, border-color, color;

  &_similar {
    align-self: end;
    margin: 0;
    padding: 16px 0;
    width: 128px;
    height: 54px;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
    text-align: center;

    &:focus:not(:hover) {
      color: $colorWhite;
      background-color: $colorPrimaryLight;
    }

    &:active {
      color: $colorWhite;
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }
  }
  
  &_primary {
    color: $colorWhite;
    background-color: $colorPrimary;
    border: 2px solid $colorPrimary;

    &:focus:not(:hover) {
      background-color: $colorPrimaryLight;
    }

    &:active {
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }

    &modul {
      justify-self: start;
      padding: 16px 31px;
      margin-bottom: 12px;
    }
  }
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: min-content 2fr 1fr min-content 1fr;
  grid-template-areas: 
    'estimate'
    'image'
    'product'
    'price'
    'btn';
  min-height: 420px;
  height: 100%;
  padding: 30px 0 30px 30px;
  border-radius: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $colorGreyLight;
    border-radius: 10px;
  }

  &_r85,
  &_s44 {

    .similar__img{
      transform: translateY(5px);
    }
  }

  &_h58 {

    .similar__img {
      transform: translateY(-10px);
    }
  }

  &_grey {

    .similar__img {
      transform: translateY(-8px);
    }
  }
}

.product {
  grid-area: product;
  align-self: start;
  width: 84%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: $colorBlack;
  
  &__link {
    color: inherit;
    @include animate;
    transition-property: color, background-color;

    &:focus:not(:hover) {
      background-color: $colorPinkViolet;
    }
  }
}

@import './header';
@import './header-card';
@import './stuff';
@import './modul';
@import './similar';
@import './footer';

@media (min-width: 1920px) {
  .link {
    &:hover {
      color: $colorPrimary;
    }
    &:active {
      color: $colorPrimaryShade;
    }
  }  
  .btn {
    &_similar {
      &:hover {
        color: $colorWhite;
        background-color: $colorPrimary;
      }
      &:active {
        color: $colorWhite;
        background-color: $colorPrimaryShade;
        border-color: $colorPrimaryShade;
      }
    }
    &_primary {
      &:hover {
        background-color: $colorPrimaryLight;
        border-color: $colorPrimaryLight;
      }
      &:active {
        background-color: $colorPrimaryShade;
        border-color: $colorPrimaryShade;
      }
    }
  }
  .product__link:hover {
    color: $colorPrimary;
  }
}

@media (max-width: 1023px) {
  .logo {
    &_header {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 767px) {
  .link{
    &_modul {
      font-size: 12px;
    }
  }
  .btn {
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
    &_similar {
      padding: 9px 0; 
      width: 108px;
      height: 40px;
    }
    &_primarymodul {
      margin-bottom: 10px;
      padding: 16px 33px;
    }
  }
  .card {
    grid-template-rows: min-content 1fr repeat(3, auto);
    min-height: 0;
    height: calc(100vw - 42px);
    padding: 16px;
    &_r85,
    &_s44,
    &_h58,
    &_grey {
      .similar__img {
        transform: translateY(0);
      }
    }
  }
  .product {
    margin-bottom: 18px;
    font-size: 16px;
  }
  .logo {
    &_footer {
      margin-bottom: 19px;
    }
  }
}



