@import './fonts', './variables';

@mixin animate {
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

* {
    box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $colorBlack;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.link {
    font-weight: normal;
    font-size: 14px;
    color: $colorGrey;
    @include animate;
    transition-property: color, background-color;

    &:hover {
        color: $colorPrimary;
    }

    &:focus:not(:hover) {
        background-color: $colorPinkViolet;
    }
}

@import './header';

