@import './fonts', './variables';

@mixin animate {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

* {
  box-sizing: border-box;
  outline: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorBlack;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  font-weight: normal;
  font-size: 14px;
  color: $colorGrey;
  @include animate;
  transition-property: color, background-color;

  &_feedback {
    color: $colorPrimary;
    text-decoration: underline;
  }

  &:hover {
    color: $colorPrimary;
  }

  &:focus:not(:hover) {
    background-color: $colorPinkViolet;
  }
}

.title {
  margin: 0;
  width: 44%;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $colorGrey;

  &_hero {
    margin-bottom: 70px;
  }

  &_light {
    color: $colorWhite;
  }

  &_offer,
  &_rate,
  &_categories,
  &_useful,
  &_feedback {
    margin-bottom: 26px;
    font-weight: normal;
    font-size: 32px;
    line-height: 100%;
    color: $colorBlack;
  }

  &_banner {
    margin-bottom: 4px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: $colorGold;
  }

  &_feedback {
    margin-bottom: 9px;
  }
}

.btn {
  padding: 17px 48px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  @include animate;
  transition-property: background-color, border-color, color;

  &_primary {
    color: $colorWhite;
    background-color: $colorPrimary;
    border: 2px solid $colorPrimary;

    &:hover {
      background-color: $colorPrimaryLight;
      border-color: $colorPrimaryLight;
    }

    &:focus:not(:hover) {
      background-color: $colorPrimaryLight;
    }

    &:active {
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }

    &rate {
      position: absolute;
      left: 50%;
      padding: 18px 35px;
      transform: translateX(-50%);
    }

    &banner {
      padding: 17px 30px;
    }

    &feedback {
      justify-self: start;
      padding: 16px 31px;
      margin-bottom: 12px;
    }
  }

  &_hero {
    display: none;
  }

  &_offer,
  &_rate,
  &_useful {
    grid-area: btn;
    margin-top: 23px;
    margin-left: 30px;
    padding: 16px 0;
    width: 128px;
    height: 54px;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
    text-align: center;

    &:hover {
      color: $colorWhite;
      background-color: $colorPrimary;
    }

    &:focus:not(:hover) {
      color: $colorWhite;
      background-color: $colorPrimaryLight;
    }

    &:active {
      color: $colorWhite;
      background-color: $colorPrimaryShade;
      border-color: $colorPrimaryShade;
    }
  }

  &_rate {
    align-self: end;
    margin: 0;
  }
}

.card {
  position: relative;
  display: grid;
  background-repeat: no-repeat;
  border-radius: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $colorGreyLight;
    border-radius: 10px;
  }

  &_offer {
    grid-template-rows: min-content 3fr min-content 1fr;
    grid-template-areas: 
      'discount'
      'product'
      'listOffer'
      'btn';
    width: calc(100% / 4 - 24px);
    padding-top: 30px;

    &big {
      width: calc(100% / 2 - 16px);
    }
  
    &chair {
      background-image: url(../img/chair.png);
      background-position: 50% 24%;
    }
  
    &sofa {
      background-image: url(../img/sofa.png);
      background-position: 52% 14%;
  
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: url(../img/z44.png);
        background-repeat: no-repeat;
        background-position: 92% 92%;
      }
    }
  
    &clock {
      background-image: url(../img/clock.png);
      background-position: 50% 22%;
    }
  
    &dear {
      background-image: url(../img/dear.png);
      background-position: 50% 24%;
    }
  
    &sofa2 {
      background-image: url(../img/sofa2.png);
      background-position: 52% 14%;
  
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: url(../img/z85.png);
        background-repeat: no-repeat;
        background-position: 92% 92%;
      }
    }
  
    &thermometer {
      background-image: url(../img/thermometer.png);
      background-position: 50% 22%;
    }
  }

  &_hidden {
    display: none;
  }

  &_rate {
    grid-template-rows: min-content 56% 11% 21%;
    grid-template-areas: 
      'estimate'
      'product'
      'price'
      'btn';
    padding-top: 33px;
    padding-left: 30px;

    &black {
      background-image: url(../img/sofa_black.png);
      background-position: 50% 32%;
    }

    &brown {
      background-image: url(../img/sofa_brown.png);
      background-position: 50% 28%;
    }

    &blue {
      background-image: url(../img/sofa_blue.png);
      background-position: 50% 28%;
    }

    &orange {
      background-image: url(../img/sofa_orange.png);
      background-position: 50% 22%;
    }

    &ligth {
      background-image: url(../img/sofa_ligth.png);
      background-position: 50% 24%;
    }

    &beige {
      background-image: url(../img/sofa_beige.png);
      background-position: 50% 24%;
    }

    &grey {
      background-image: url(../img/sofa_grey.png);
      background-position: 50% 21%;
    }

    &choco {
      background-image: url(../img/sofa_choco.png);
      background-position: 50% 23%;
    }
  }

  &_categories {
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
      'list'
      'product'
      'link';
    padding: 27px 0  32px 30px;
    background-position-y: 60%;

    &sofas {
      grid-area: sofa;
      background-image: url(../img/cat_sofa.png);
    }
    
    &chairs {
      grid-area: chair;
      background-image: url(../img/cat_armchair.png);
    }

    &beds {
      grid-area: bed;
      background-image: url(../img/cat_bed.png);
    }

    &dressers {
      grid-area: dresser;
      background-image: url(../img/cat_dresser.png);
    }

    &stools {
      grid-area: stool;
      background-image: url(../img/cat_chair.png);
    }    
  }

  &_useful {
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
      'picture'
      'text'
      'btn';
    padding-bottom: 30px;
    min-height: 676px;
    height: 100%;
  }
}

.product {
  grid-area: product;
  align-self: end;
  margin: 0;
  padding: 23px 30px;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: $colorBlack;

  &_rate {
    padding: 0;
  }

  &_categories {
    align-self: start;
    padding: 0;
  }
}

@import './header';
@import './hero';
@import './offer';
@import './rate';
@import './banner';
@import './categories';
@import './useful';
@import './feedback';
@import './footer';

@media (max-width: 1919px) {
  .title {
    width: 60%;
  }
  .card {
    &_offer {
      width: calc(100% / 3 - 21px);
      &big {
        width: calc(100% / 3 - 21px);
      }
      &chair {
        background-image: url(../img/chair1024.png);
      }
      &sofa {
        background-image: url(../img/sofa1024.png);
        background-position-y: 30%;
        &::after {
          content: none;
        }
      }
      &clock {
        background-image: url(../img/clock1024.png);
      }
      &dear {
        background-image: url(../img/dear1024.png);
      }
      &sofa2 {
        background-image: url(../img/sofa2_1024.png);
        background-position-y: 30%;
        &::after {
          content: none;
        }
      }
      &thermometer {
        background-image: url(../img/thermometer1024.png);
      }
    }
    &_rate {
      grid-template-rows: min-content 56% 11% 20%;
    }
    &_categories {
      background-position-y: 58%;
      &sofas {
        background-image: url(../img/cat_sofa1024.png);
        background-position-y: 59%;
      }
      &chairs {
        background-image: url(../img/cat_armchair1024.png);
      }
      &beds {
        background-image: url(../img/cat_bed1024.png);
        background-size: contain;
      }
      &dressers {
        background-image: url(../img/cat_dresser1024.png);
      }
      &stools {
        background-image: url(../img/cat_chair1024.png);
      }    
    }
    &_useful {
      min-height: 456px;
      height: 100%;
    }
  }
}

@media (max-width: 1023px) {
  .title {
    width: 90%;
  }
  .card_offer {
    width: calc(100% / 2 - 16px);
    &big {
      width: calc(100% / 2 - 16px);
    }
  }
}

@media (max-width: 767px) {
  .title {
    width: 78%;
    font-size: 20px;
    line-height: 27px;
    &_offer,
    &_rate,
    &_banner,
    &_categories,
    &_useful,
    &_feedback {
      width: 100%;
      font-size: 24px;
      line-height: 100%;
    }
  }
  .btn {
    &_primary {
      display: none;
      &rate {
        display: block;
        min-width: 296px;
        padding: 19px 0;
      }
      &banner {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        min-width: 296px;
        padding: 19px 0;
        text-align: center;
        transform: translate(-50%, 92px);
      }
      &feedback{
        display: block;
        margin-bottom: 9px;
      }
    }
    &_hero {
      display: block;
      margin: 0 12px;
      padding: 18px 0;
      text-align: center;
    }
    &_rate {
      width: 108px;
      height: 40px;
      padding: 9px 0; 
      font-weight: 600;
    }
  }
  .card {
    &_offer {
      width: 100%;
      &big {
        width: 100%;
      }
    }
    &_rate {
      grid-template-rows: min-content 56% 11% 21%;
      padding-top: 17px;
      padding-left: 16px;
      background-size: 77%;
      &black {
        background-position-y: 21%;
      }
      &brown,
      &blue,
      &beige {
        background-position-y: 20%;
      }
      &orange,
      &ligth,
      &grey,
      &choco {
        background-position-y: 19%;
      }
    }
    &_categories {
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;
      grid-template-areas: 
        'list list'
        'product link';
        background-position-y: 83%;
      &sofas {
        background-image: url(../img/cat_sofa320.png);
        background-position-y: 85%;
      }
      &chairs {
        background-image: url(../img/cat_armchair320.png);
        background-size: contain;
      }
      &beds {
        background-image: url(../img/cat_bed320.png);
      }
      &dressers {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        grid-template-areas: 
          'list .'
          'product link';
        padding: 13px 0 0 16px;
        background-image: url(../img/cat_dresser320.png);
        background-position-y: 85%;
        background-size: contain;
        .categories__list {
          margin-bottom: 8px;
        }
        .categories__item {
          line-height: 70%;
        }
        .link {
          font-size: 10px;
        }
        .product_categories {
          font-size: 16px;
          line-height: 105%;
        }
        .categories__link {
          align-self: end;
        }
        .categories__svg {
          transform: translate(6px, 8px);
        }
      }
      &stools {
        background-image: url(../img/cat_chair320.png);
      }  
    }
    &_categories:not(:first-child, &_categoriesdressers) {
      padding: 13px 0 0 16px;
      .categories__list {
        margin-bottom: 8px;
      }
      .categories__item {
        line-height: 70%;
      }
      .product_categories {
        font-size: 16px;
      }
      .link {
        font-size: 10px;
      }
      .categories__svg {
        transform: translate(5px, -1px);
      }
    }
  }
  .product_rate {
    margin-bottom: 9px;
    font-size: 16px;
  }
  .link {
    &_feedback {
      font-size: 12px;
    }
  }
  .logo {
    &_footer {
      margin-bottom: 19px;
    }
  }
}



